@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.Imagen_perfil{
    width: 360px;
    height: 300px;
    margin-top: 75px;
    margin-left: 10.5vw;
    position: absolute;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.8);
    
}

.Imagem-1{
    position: absolute;
    width: 20%;
    margin: -105px 0px 0px 65vw;
}


h1{
color: #001D56;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 3vw;
margin-top: 10px;
}

hr{

width: 800px;
height: 8px;
background: #001D56;
opacity: 100%;

}

.backgroud-perfil{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: -141px;
    z-index: -1;
    

}

body{

    background-image: url("ground-zero-2014135_1920.jpg");
    background-size: cover;
    
}

* {
    font-family: calibri, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    width: 40vw;
    height: 79vh;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 55vw;
    margin-top: -24px;
    align-items: center;
    padding: 40px;
    border: none;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.8);

}
label{
    font-size: 25px;
}

p{
    font-size: 18px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.12);
}

form{
    margin-top: 50px;
}

.faq{
    display: flex;
    justify-content: end;
}
button{
    color: white;
    background-color: red;
    display: flex;
    text-align: end ;
    width: 70px;
    justify-content: center;
    margin: 10px;
    border: none;
}

.cor{
    background-color: #001D56;
    
}