@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}

.back {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100vh;
    opacity: 80%;

}

.backperfil {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    opacity: 70%;

}

body {
    display: block;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;




}

.col-1 {
    margin: auto;
    width: 50vw;
    height: 90vh;



}

.col-2 {
    margin: auto;
    margin-top: 8%;
    width: 50vw;
    height: 60%;
    padding: 20px;

}

.faq {
    justify-content: end;
    display: flex;
    margin-top: 30px;


}
button{
    margin: 10px;
}

.for {
    background-color: rgba(255, 255, 255, 0.959);
    width: 65%;
    height: 110%;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    margin: 2vh 0px 0px 5vw;
    border-radius: 10px;
}

form {
    margin-top: 3vh;
}

button {
    color: white;
    background-color: red;
    display: flex;
    text-align: end;
    width: 70px;
    justify-content: center;
}

.Logo {
    position: absolute;
    margin: 87px 0px 0px 64vw;
    width: 20%;
    opacity: 90%;
}

p {
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    font-size: 18px;
    width: 100%;
}

label {
    font-size: 22px;
}


h1 {
    color: #001D56;
    font-family: inherit;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-left: 3vw;


}

hr {
    width: 100%;
    height: 8px;
    background: #001D56;
    margin-top: -60px;
    margin-left: 0;
    border: none;



}

.foto {
    width: 20vw;
    height: 20vw;
    position: absolute;
    z-index: 1;
    margin: 31vh 0px 0px 12vw;
}
.cor{
    background-color: #001D56;
}

@media (max-width: 420px) {
    body {
        background-image: url("Design\ sem\ nome.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .back {
        display: none;
    }

    .for {
        width: 100%;
        height: 123%;
        margin: 38px 0px 0px -35vw;
        padding: 60px;
    }
    .foto{
        position: absolute;
        z-index: 1;
        margin: 5vh 0px 0px 23vw;
        width: 210px;
        border: 0.1px solid black;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    }
    p{
        font-size: 75%;
    }
    form{
        margin-top: 50%;
        margin-left: -9%;
    }
    h1{
        display: none;
    }
    .Logo{
        display: none;
    }
    .back{
        display: none;
    }
    .backperfil{
        display: none;
    }
}