* {
  font-family: Calibri, sans-serif;
}
.linha-horizontal{
  margin-top: 50px;
  width: 40%;

  border-bottom: 0.3rem solid #001D56;
  
}

.left_coluna{
  margin-top: -4.5%;
}

.fundo{
    BACKGROUND-COLOR: bisque;
}


.img-bt{
   position: fixed;
   bottom: 0;
}


