
* {
  font-family: calibri, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background: #1c1c1c;
  color: #fff;
} */

section {  
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items:self-start;

}

.sec-left {
  margin: 0;
}

section h2 {
  font-size: 2.3rem;
  
}


.faq {  
  width: 40%;
  margin-top: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #001D56;
  cursor: pointer;
}


.question {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.question h3 {
  font-size: 1rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
  }

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  margin-left: 1%;
  transition: 0.5s ease-in;
}


@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


.answer p {
  padding-top: 1rem;
  line-height: 1.5;
  font-size: 0.9rem;
  color: #ac0000;
}







.linha-horizontal{
  position: absolute;
  width: 42%;
  height: 7.5%;
  

  border-bottom: 0.3rem solid #001D56;
  
}

.left_coluna{
  margin-top: -4.5%;
}

.fundo{
    BACKGROUND-COLOR: bisque;
}


.img-bt{
   position: fixed;
   bottom: 0;
}


